.container{
  padding: 10px;
}

.usermotto{
  font-size: 20px;
  padding-top: 3ch;
  padding-bottom: 3ch;
  align-content: center;
  text-align: center;
}

.group{
  display: flex;
  flex-direction: column;
  text-align:start;
  margin-top: 10px;
  align-items:flex-start;
  
}

.label{
  margin: 5px;
}

.btn{
  padding-top: 20px;
}

.label{
  padding-top:10px ;
}

.timeinput{
  padding-top:30px ;
  width: 60vw;
  display: flex;
  flex-direction:column;
  
}

.timeinputbox{
  width: 100%;
  border-bottom: 2px solid grey;
}

.button{
  margin-top: 10px;
}